/* layout classes should be separated from other css */

.hidden {
  display: none !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half,
.column-third {
  width: 100%;
}

@media screen and (min-width: 650px) {
  .column-third {
    width: calc(100% / 3);
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }
}
